name: test
on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['7.4', '8.0', '8.1', '8.2']
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
    - name: Get composer cache directory
      id: composer-cache
      run: echo "COMPOSER_CACHE_DIR=$(composer config cache-files-dir)" >> $GITHUB_ENV
    - name: Cache dependencies
      uses: actions/cache@v5
      with:
        path: ${{ env.COMPOSER_CACHE_DIR }}
        key: ${{ runner.os }}-${{ matrix.php-version }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-${{ matrix.php-version }}-composer-
    - name: Install dependencies
      run: composer install --prefer-dist --ignore-platform-reqs
    - name: Run tests
      run: ./vendor/bin/phpunit
